@{
    var duty = ViewData["Duty"] as TaskManagementSystem.Lib.Models.Duty;
}

@{
    ViewData["Title"] = "Task Details";
}

<h1 class="pb-4 pt-4">@ViewData["Header"]</h1>

<div>
    <strong>Task number:</strong> @duty.Id
</div>

<div>
    <strong>Task Title:</strong> @duty.Title
</div>

<div>
    <strong>Task Description:</strong> @duty.Description
</div>

<div>
    <strong>Task DueDate:</strong> @duty.DueDate
</div>

<div>
    <strong>Task Priority:</strong> @duty.Priority
</div>

<div>
    <strong>Task Status:</strong> @duty.Status
</div>

<div>
    <strong>Task Person:</strong> @duty.PersonID
</div>

<div>
    <strong>Task Person:</strong> @duty.Person
</div>

<br />
<br />
<br />

<div>
    <a asp-controller="Duty" asp-action="Index">Go Back</a>
</div>